.figure {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  overflow: hidden;
  cursor: pointer;
  transition: all ease 0.1s;
  text-decoration: none;
}
.figure:hover {
  transform: scale(1.05);
}
.image {
  width: 100%;
  height: 100%;
}

.textWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.textWrap h2 {
  color: black;
  font-size: 1.25rem;
}
.textWrap h3 {
  color: gray;
}
